{% extends 'cases/base.html' %}
{% block content%}
{% csrf_token %}
<div class='container-fluid mx-auto my-5 justify-content-center align-items-start'>
    <div class='row justify-content-center'>
        <div class='col-lg-10 text-white bg-secondary border border-2 rounded border-dark shadow mb-2'>
            <h4 class='text-white my-1'>Cases Processed {{case.case_number}}</h4>
        </div>
    </div>
    <div class='row justify-content-center'>
        <div class='col-lg-10 border border-2 border-dark rounded my-1'>
            <h6>The follow Cases were processed sucessfully</h6>
            <hr>
            {% if processed_cases %}
            <table class='table table-striped table-bordered table-hover table-responsive'>
                <thead>
                    <tr>
                        <th scope='col'>Date</th>
                        <th scope='col'>Case Number</th>
                        <th scope='col'>Order Number</th>
                        <th scope='col'>Tracking Number</th>
                        <th scope='col'>RMA Type</th>
                        <th scope='col'>Status</th>
                        <th scope='col'>Processed?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for case in processed_cases%}
                    <tr>
                        <td>{{case.date}}</td>
                        <td><a href='{% url "cases:details" case.case_number %}'>{{case.case_number}}</a></td>
                        <td>{{case.order_number}}</td>
                        <td>{{case.tracking_number}}</td>
                        <td>{{case.get_rma_type_display}}</td>
                        <td>{{case.get_status_display}}</td>
                        <td><input type='checkbox' {%if case.case_processed%}checked{% endif %} disabled></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No Cases Processed</p>
            {% endif %}
        </div>
    </div>
    <div class='row justify-content-center'>
        <div class='col-lg-10 border border-2 border-dark rounded'>
            <h6>The follow Cases failed to process</h6>
            <hr>
            {% if failed_cases %}
            <ul>
                {% for case in failed_cases%}
                <li>{{case}}</li>
                {% endfor %}
            </ul>
            {% for case in failed_cases%}
            {% endfor %}
            {% else %}
            <p>No Cases Failed</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}